[Unit]
Description=ML-NetFlow

[Service]
Restart=always
RestartSec=30
Type=simple
User=logstash
Group=logstash
ExecStart=/usr/local/bin/ml-analyzer/netflowAnalysis.sh 

SyslogIdentifier=mlnetflow
[Install]
WantedBy=multi-user.target
#Alias=mlnetflow.service
